
<h1> See Product here </h1>
<h3> Product name: <%= @product.name  %> </h3>

<h4> Product supplier: <%= @product.supplier.name %> </h4>

<% @product.images.each do |image| %>
	<img class="index_product_image" src="<%= image.image %>">
<% end %>	
<h4> Product Price: $<%= @product.price  %> </h4>
<p> Product Description: <%= @product.description  %> </p>
	
<%= @product.sale_method %>

<h5>Tax: $ <%= @product.tax %></h5>
<h4>Total Price: $<%= @product.total %></h4>

<div>
	<%= link_to "Update Product", "/products/#{@product.id}/edit" %>
</div>
<div>
	<%= link_to "Delete Product", "/products/#{@product.id}", method: :delete %>
</div>
<div>
	<%= link_to "View All Products", "/products" %>
</div>
