
<h1> See Product here </h1>
<h3> Product name: <%= @product.name  %> </h3>


<h4> Category: <% @categories.each do |category| %> 
				<%= category.name.capitalize %> 
				<% end %> </h4>

<h4> Product supplier: <%= @product.supplier.name %> </h4>
<h4> Products in Stock: <%= @product.stock %> </h4>

<% @product.images.each do |image| %>
	<img class="index_product_image" src="<%= image.image %>">
<% end %>	
<h4> Product Price: $<%= @product.price  %> </h4>
<p> Product Description: <%= @product.description  %> </p>
	
<%= @product.sale_method %>

<h5>Tax: $ <%= @product.tax %></h5>
<h4>Total Price: $<%= @product.total %></h4>

<%= form_tag "/carted_products", method: :post do %> 
Quantity: <input type= "text" name="input_quantity">
<input type= "hidden" value = "<%= @product.id %>" name="input_product_id">
<input  type= "submit" value="Add to Cart">
<% end %> 

<% if current_user && current_user.admin %> 
	<div>
		<%= link_to "Update Product", "/products/#{@product.id}/edit" %>
	</div>
	<div>
		<%= link_to "Delete Product", "/products/#{@product.id}", method: :delete %>
	</div>
<% end %>
<div>
	<%= link_to "View All Products", "/products" %>
</div>
